<div class="page-wrapper">
<div class="col-lg-1"></div>

  <div class="row">
    <div class="col-lg-10">
      <h1 class="page-header col-md-12">Devices</h1>
    </div>
  </div>
  <div class="row col-lg-10 col-lg-offset-1">
    <div *ngFor="let device of devices">
      <!--<a href="device/{{device.id}}">-->
      <div (click)="onDeviceSelected(device.id)">
        <div class="col-lg-3 col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-12 text-right">
                  <div class="huge">{{device.label}}</div>
                  <div>{{device.manufacturer}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--</a>-->
    </div>
  </div>

  <div *ngIf="device">
    <div class="row single-device col-lg-10 col-lg-offset-1">
      <p>{{device.label}}</p>
    </div>
  </div>

<div class="col-lg-1"></div>
</div>